.icon-btn {
  position: absolute;
  top: 25px;
  right: 25px;

  width: 35px;
  height: 35px;

  border-radius: 50%;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  color: var(--color-background);
}
