.sidebar {
  width: 260px;
  height: 100vh;
  background-color: #ffffff;
  padding: 100px 16px 16px 20px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #eee;
  transition: width 0.3s ease;
  overflow: visible;
  position: relative;
  z-index: 10;
}

.sidebar.collapsed {
  width: 72px;
}

.sidebar.collapsed .menu-item {
  justify-content: center;   
  padding: 12px 0;          
  gap: 0;                   

}

.sidebar.collapsed .menu-item span {
  display: none;
}
.sidebar.collapsed .sidebar-header {
  display: none;
}
.sidebar.collapsed .icon-sidebar img {
  transform: scaleX(-1);
}

/* Header */
.sidebar-header {
  margin-bottom: 24px;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  color: #3b6df6;
}

/* Menu */
.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 10px 14px;
  border-radius: 12px;

  background: none;
  border: none;
  cursor: pointer;

  font-size: 14px;
  color: #555;
}
.icon-sidebar {
  z-index: 20;
  position: absolute;
  top: 20px;
  right: -18px; /* metade pra fora */
  
  width: 38px;
  height: 38px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #eee;
  cursor: pointer;

  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.icon-sidebar img {
  width: 32px;
  height: 32px;
  transition: transform 0.3s ease;
}
.menu-item:hover {
  background-color: #f2f4f8;
}

/* Item ativo */
.menu-item.active {
  background-color: #3b6df6;
  color: #ffffff;
}

.menu-item.active svg {
  color: #ffffff;
}

/* Footer */
.sidebar-footer {
  border-top: 1px solid #eee;
  padding-top: 12px;
}

.menu-item.logout {
  color: #777;
}
