.modal-content {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: 420px;      /* tamanho ideal para modal */
  
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  z-index: 1000;
}
.modal-content img {
  width: 100%;
  max-width: 100%;
  height: auto;

  border-radius: 6px;
  display: block;
}
